pytorch_pretrained_bert==0.6.2
nltk==3.6.5
numpy==1.20.3
bert_serving_client==1.10.0
torchvision==0.10.1
pytorch_lightning==1.4.9
torch==1.9.1
tqdm==4.62.3
transformers==4.12.5
torchtext==0.10.1
bert_serving==0.0.1
ipython==8.0.1
